<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="RemoteIP" value="203.88.210.234"/>
    <add key="RemoteSkPort" value="1111"/>     
    <add key="RemoteRmPort" value="1112"/>--> 
    
    <!--远程服务端IP-->
    <add key="RemoteIP" value="127.0.0.1"/>
    <!--远程服务端缓存服务端口-->
    <add key="RemoteSkPort" value="1111"/>
    <!--远程服务端Socket服务端口-->
    <add key="RemoteRmPort" value="1112"/>

    <!--不自动认证签入时间段：在此时间段配置异常不做自动连接、签入处理-->
    <add key="NoAutoSiTime" value="00:00-07:00"/>

    <!--本地放大服务IP-->
    <add key="LocalIP" value="127.0.0.1"/>
    <!--PID本地监听的端口-->
    <add key="LocalPort" value="360"/>
    <!--Eterm客户端测试使用监听端口-->
    <add key="EtermManage_Port" value="35000"/>
    <!--最大连接数-->
    <add key="MaxConnection" value="600000"/>
    <!--指令间隔（单位：毫秒）-->
    <add key="Command_Interval" value="0"/>
    
    <!--调试输出标志 true:输出  false:不输出-->
    <add key="DebugFlag" value="true"/>
    
    <!--调试数据包输出标志 true:输出  false:不输出-->
    <add key="DebugDataFlag" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
